table {
  width: 100%;
  table-layout: fixed; // forces the table to respect fixed widths on columns
}

th.mat-header-cell,
td.mat-cell {
  width: 150px; // fixed width for each column; adjust as needed
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; // forces the text to stay on one line
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}
