<div class="main-container">
  <div class="left-container">
    <app-organization-tree #orgTree></app-organization-tree>
  </div>
  <div class="right-container">
    <div class="container">
      <h2>Configure Additional Connection</h2>
      <form [formGroup]="connectionForm" (ngSubmit)="onSubmit()">
        <div formArrayName="configurations">
          <div *ngFor="let config of configurations.controls; let i = index" [formGroupName]="i" class="config-group">
            <label>
              From:
              <input type="text" formControlName="from" placeholder="From" />
            </label>
            <label>
              To:
              <input type="text" formControlName="to" placeholder="To" />
            </label>
            <label>
              Label:
              <input type="text" formControlName="label" placeholder="Label" />
            </label>
            <button type="button" (click)="removeConfiguration(i)">Remove</button>
          </div>
        </div>
        <button type="button" (click)="addConfiguration()">Add Configuration</button>
        <button type="submit">Submit</button>
      </form>
    </div>

  </div>
</div>


